<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href='/static/css/contact.css'>
</head>
<body>
    <head>
        <nav class="navbar">
            <div class="navdiv">
                <div class="logo">Ali Raza</div>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/Projects">Projects</a></li>
                    <li><a href="/skills">Skills</a></li>
                    <li><a href="/resume">Resume</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
        </nav>
    </head>
    <div class="upper-text">
        <h1>Contact info </h1> </div>
        <div class="images">
           <a href="tel:+918009744029"> <img id="contact" src='/static/images/contact1.img' alt="Phone"> </a>
           <a href="mailto:eraliraza010@gmail.com"> <img id="mail" src='/static/images/email.img' alt="Gmail"> </a>
           <a href="https://github.com/AliRaza10ds"> <img id='github' src='static/images/github.img' alt="Github"> </a>
           <a href="https://www.linkedin.com/in/ali-raza-2316a02a9" target="_blank"> <img id='linkedin' src='static/images/linkedin.img' alt="linkedin"> </a>
        </div>
        <div class="section-divider"> </div>
        <footer class="footer">
            <p> &copy:2025 Ali Raza|All rights reserved.</p>

</body>
</html>