<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <head>
        <nav class="navbar">
            <div class="navdiv">
                <div class="logo">Ali Raza</div>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/Projects">Projects</a></li>
                    <li><a href="/skills">Skills</a></li>
                    <li><a href="/resume">Resume</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
        </nav>
    </head>
    <div class="image"> 
        <img src="/static/images/selfimg.png" height="300" width="250">
        <div class="text">
            <h2> About Me </h2>
            <p>
            Hi, am Ali Raza,a passionate and aspiring data scientist,,am 21 years old and currently in my final year of B.Tech in computer science and engineering and i have developed a strong foundation in Machine learning ,deep learning and data analyst.
            </p>
            <p>
                I specialize in turning raw data into actionable insights using tools like Python,Pandas,Numpy,Matplotlib and more.I have worked on various real world projects which reflect my love for solving problems through data.
            </p>
            <p>
                I have a keen interest in the field of machine learning and Dat science and am presently learning and working on the skills required to expertise in the same
            </p>
            <p>
                Over the past few years i have completed multiple projects in data analysis and predictive modeling. My goal is to become a data scientist who not only understands the math behind the models but can also build scalable , impactful systems.
        </div>
    </div>
    <footer class="footer">
            <p> &copy:2025 Ali Raza|All rights reserved.</p>
    </footer>
</body>
</html>