<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>My Projects</title>
  <link rel="stylesheet" href="/static/css/project.css">
</head>
<body>

    <head>
        <nav class="navbar">
            <div class="navdiv">
                <div class="logo">Ali Raza</div>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/Projects">Projects</a></li>
                    <li><a href="/skills">Skills</a></li>
                    <li><a href="/resume">Resume</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
        </nav>
    </head>

  <section class="projects-section">
    <h2>My Projects</h2>
    
    <div class="projects-grid">

        <div class="project-card">
        <img src="static/images/multilingual.jpg" alt="AI Assistant">
        <a href="https://github.com/AliRaza10ds/Multilingual.git"><h3>Multilingual Assistant</h3></a>
        <p>Smart AI chatbot that understands and responds in multiple languages</p>
      </div>

        <div class="project-card">
        <img src="static/images/upichatbot.jpeg" alt="Funding Predictor">
        <a href="https://github.com/AliRaza10ds/country_funding"><h3>UPI Chatbot</h3></a>
        <p>Chatbot that instantly resolve UPI related queries such as payment issues,make or reset UPI pins etc.</p>
      </div>
      
      <div class="project-card">
        <img src="static/images/country.jpeg" alt="Funding Predictor">
        <a href="https://github.com/AliRaza10ds/country_funding"><h3>Country Funding Predictor</h3></a>
        <p>Predicts whether a country needs funding</p>
      </div>

      <div class="project-card">
        <img src="/static/images/laptop.jpeg" alt="Laptop Price Predictor">
        <a href="https://github.com/AliRaza10ds/laptop_price"><h3>Laptop Price Predictor</h3></a>
        <p>Predicts the price of laptop on the basis of features</p>
      </div>

      <div class="project-card">
        <img src="/static/images/ecommerce.jpeg" alt="e-Commerce Dashboard">
        <a href="https://github.com/AliRaza10ds/e-commerce_dashboard"><h3>e-Commerce Dashboard</h3></a>
        <p>Time series analysis to deliver valuable insights + accurate sale forecasting</p>
      </div>

    </div>
  </section>

</body>
</html>