<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume</title>
    <link rel="stylesheet" href='/static/css/resume.css'>
</head>
<body>
     <head>
        <nav class="navbar">
            <div class="navdiv">
                <div class="logo">Ali Raza</div>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/Projects">Projects</a></li>
                    <li><a href="/skills">Skills</a></li>
                    <li><a href="/resume">Resume</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
        </nav>
    </head>
    <div class="resume-img">
        <img class='res1' src='static/images/Ali resume1.jpg'>
        <img class='res2' src='static/images/Ali resume1.2.jpg'>
    </div>
    <footer class="footer">
            <p> &copy:2025 Ali Raza|All rights reserved.</p>
    </footer>
</body>
</html>